.qualification__table{
    font-size: 2rem;
    font-weight: 600;

    margin-left: 25rem;
    padding: 0rem 0rem 2rem;
}

.qualification__data{
    line-height: 25px;
    padding: 2rem ;
    width: 40rem;
}
.qualification__content{
    margin-left: 18rem;
    width: 30rem;
    height: 25rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.qualification__title{
    width: 27rem;
}
.qualification__tabs{
display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.round{
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: var(--text-color);
}
.qualificaiton__button{
    text-decoration: underline;
}
@media screen and (max-width:850px){
    .qualification__table{
        margin-left: 18rem;
    }
    .qualification__content {
        margin-left: 12rem;}
}
@media screen and (max-width:770px){
    .qualification__table{
        font-size: 4rem;
        font-weight: 700;
    
        margin-left: 30rem;
        padding: 0rem 0rem 2rem;
    }
    .qualification__heading{
        margin-left: 45rem;
    }
    .qualification__content{
        margin-left: 15rem;
        width: 58rem;
        height: 50rem;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    .qualificaiton__button{
        font-size: 5rem;
        margin-left: 18rem;
    }
    .qualification__section{
      
            font-size: 4rem;
        }
        .qualification__title {
            font-size: 3rem;
            width: 53rem;
            font-weight: 700;
        }
        .qualification__subtitle,.qualification__rounder,.qualification__calender,.qualification__line{
            width: 51rem;
    display: block;
    font-size: 2rem;
        }
        .qualification__data{
            line-height: 62px;
        }
        .qualification__tabs {
            
            margin-left: 33rem;
            padding-bottom: 2rem;
            font-size: 3rem;
        }
        .round {
            display: inline-block;
            width: 22px;
            height: 22px;}
    }




