
.home__content{
    margin-left: 6rem;
    grid-template-columns: 80px  repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap:2rem;

    align-items: center; 
  
 
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;

}
.home__social-icon{
    font-size: 2.25rem;
    color: var(--title-color);
}
.home__social-icon:hover{
    color: var(--title-color-dark);
}
.home_title{
    font-weight: 500;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}
.home_hand{
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}
.home_subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-right: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}
.home__description{
    width: 400px;
    margin-bottom: var(--mb-3);
}
.button{
    background: black;
}
.home__img{
    border: 7px solid #6c6f65;
    background: url(../../../assets/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 9px rgb(255,255,255/30%);
    order: 1;
    margin-top: 2rem;
    justify-self: center;
    width: 332px;
    height: 363px;
    animation: profile_animation 10s ease-in-out infinite 1s ;

}
@keyframes profile_animation {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 60%;
    }
    20% {
        border-radius: 45% 50% 35% 65% / 55% 35% 65% 45%;
    }
    40% {
        border-radius: 50% 60% 45% 55% / 50% 40% 60% 50%;
    }
    60% {
        border-radius: 55% 55% 40% 60% / 45% 45% 55% 45%;
    }
    80% {
        border-radius: 60% 40% 35% 65% / 40% 30% 60% 50%;
    }
    100% {
        border-radius: 45% 60% 80% 50% / 80% 30% 50% 60%;
    }
}
.home__scroll{
    margin-left: 9.25rem;
}
.wheel{
    animation: scroll 2s ease infinite;
    }
    @keyframes scroll {
        0%{
    transform: translateY(0);
        }
        30%{
            transform: translateY(3.75rem);
        }
        0%{
            
        }
        0%{
            
        }
    }
    .home_scroll-name{
        color: var(--title-color);
        font-weight: var(--font-medium);
        margin-right: var(--mb-0-25);
        margin-left: 2px;
    
    }
    .home_scroll-arrow{
        font-size: 1.25rem;
        color: var(--title-color);
        }
        /*----Breakpoints----*/
/*----Large devices----*/
@media screen and (max-width:850px){
    .home__title{
        width: rem;
    }
    .home__description{
        width: initial;
        
      }
    .home__content{
        
        
            }
            .home__hand {
                width: 12rem;
                height: 7rem;
            }
              .home__subtitle{
              
                margin-bottom: var(--mb-1);
              }
              .home__subtitle::before{
                width: 42;
                top:0.8rem;
              }
              
              .home_img{
                width: 250px;
                height: 250px;
                box-shadow: inset 0 0 9px rgb(255,255,255/30%);
               
              }  
          
}
@media screen and (max-width:768px){
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top:3.5rem;
            }
            .home__img{
                height: 50rem;
                width: 50rem;
            }
            .home__img {
                
                position: relative;
                margin-left: -52rem;
                order: initial;
                justify-self: initial;
                                
            }
            .home__social-icon {
                font-size: 6.25rem;
                color: var(--title-color);
            }
            .home__data {
                margin-top: 2rem;
                margin-left: 10rem;
                display: flow;
                /* justify-content: center; */
                width: 65rem;
                grid-column: 1 / 3;
            }
              .home_img {
                box-shadow: inset 0 0 6px rgb(255,255,255/30%);
                height: 500px;
                right: 200px;
              }
            .home__social {
                margin-left:6rem;
                display: grid;
                grid-template-columns: max-content;
                row-gap: 10rem;
            }
            
            .home__scroll{
                display: none;
              }
              .home__title{width: 19rem;

                font-size: 9rem;
              }
              .home__subtitle {
                font-size: 5rem;
                margin-bottom: var(--mb-1);
            }
            .home__img {
                height: 50rem;
                width: 50rem;
                 /* Adjust this value as needed */
                margin-top: 0;
              }
              
            

            .home__description {
                font-size: 5rem;}
                .button {
                    font-size: 4rem;
                    height: 10rem;
                    margin-left: 17rem;
                    width: 21rem;
                }  
            .about__description{
                font-size: 3rem;
            }
        }
        @media screen and (max-width:576px){}









